[user]
    name         = Mohammad Satrio
	email        = wolfaeon@gmail.com
[core]
    editor       = vim
    excludesfile = .gitignore
[color]
    diff         = auto
    status       = auto
    branch       = auto
    interactive  = auto
    ui           = true
    pager        = true
[alias]
    st           = status
    s            = status -s
    ci           = commit
    co           = checkout
    w            = whatchanged
    wiff         = diff --color-words
    search       = "!f() { query=\"$1\"; shift; git log -S\"$query\" \"$@\"; }; f \"$@\""
    amend        = commit --amend -C HEAD
    l            = log
    lol          = !git log --pretty=format:"%C\\(bold\\ yellow\\)%h%Creset\\ %s%Creset\\ -------\\ %C\\(blue\\)%an"
    lstat        = !git log --patch-with-stat --summary
    dh           = diff HEAD
[format]
    pretty       = format:%C(bold yellow)%h%Creset %s %C(red)%d%Creset %n%Cgreen%ar%Creset %n%C(blue)%an%Creset%n 
[merge]
    tool         = vimdiff
